init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
environment:
  matrix:
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python35-x64"
install:
  - "%PYTHON%\\python.exe -m pip install matplotlib numpy opencv-python pillow mock pyinstaller configparser"
  - "%PYTHON%\\python.exe -m pip install codecov coverage mttkinter pynput nose"
build: off
test_script:
  - "%PYTHON%\\Scripts\\nosetests.exe --with-coverage"
after_test:
  - "%PYTHON%\\Scripts\\pyinstaller.exe main.py --clean --windowed --icon=assets/logos/icon_green.ico"
  - "cd dist/main"
  - "rename main.exe parser.exe"
  - "cd .."
  - "cd .."
  - "cp %PYTHON%\\Lib\\lib-tk\\FileDialog.pyc dist/main/FileDialog.pyc"
  - "cp %PYTHON%\\Lib\\lib-tk\\Dialog.pyc dist/main/Dialog.pyc"
  - "cp %PYTHON%\\Lib\\lib-tk\\tkColorChooser.py dist/main/tkColorChooser.py"
  - "cp %PYTHON%\\Lib\\site-packages\\configparser.pyc dist/main/ConfigParser.pyc"
  - "cp -R assets dist/main/assets"
  - "cp LICENSE dist/main/LICENSE.txt"
  - "cp README.md dist/main/README.txt"
  - "7z a C:\\projects\\gsf-parser\\GSF_Parser_AppVeyor.zip dist/main/*"
  - "%PYTHON%\\Scripts\\codecov.exe"
artifacts:
  - path: GSF_Parser_AppVeyor.zip
    name: GSF-Parser