*.pyproj
*.sln
*.suo
*.pyc
*.gsf
*.ini
*.spec
.idea
*.json
__pycache__
realtime.db
*.xcf
debug.txt
/.idea
/release/dist
/release/build
/release/*.spec
/release/*.iss
/release/Setups
/release/add-ins
/release/add-ins3
/release/*.exe
/release/*.bat
/release/archive_scripts
/release/*.zip
development

