language: python
env:
  global:
    # Dependencies
    - DEPS_DIR="`readlink -f $TRAVIS_BUILD_DIR/..`"
    - OPENCV_BUILD_DIR=$DEPS_DIR/opencv/build
required: sudo
python:
    "2.7"
before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3
    - sudo pip install matplotlib
    - sudo pip install numpy
    - sudo pip install pillow
    - sudo pip install pyinstaller
    - sudo apt-get install python-tk
    - sudo pip install pillow
    - sudo pip install mock
    - sudo pip install pyscreenshot
    - sudo pip install codecov
    - sudo apt-get install python-opencv
    - cd /home/travis/build/RedFantom/GSF-Parser
script:
  - sudo python testing.py
  - pyinstaller main.py
after_install:
  - codecov