certifi==2017.4.17
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
EasyProcess==0.2.3
future==0.16.0
idna==2.5
matplotlib==2.0.1
mock==2.0.0
mss==3.0.1
nose==1.3.7
numpy==1.12.1
olefile==0.44
opencv-python==3.2.0.7
pbr==3.0.0
Pillow==4.2.0
psutil==5.2.2
pygame==1.9.3
PyGithub==1.34
PyInstaller==3.2.1
PyJWT==1.5.0
pynput==1.3.5
pyparsing==2.2.0
pyscreenshot==0.4.2
pytesseract==0.1.7
python-dateutil==2.6.0
pytz==2017.2
pywinusb==0.4.2
requests==2.13.0
semantic-version==2.6.0
six==1.10.0
ttkthemes==1.5.0
ttkwidgets==0.7.0
urllib3==1.21.1
